@import url('https://fonts.googleapis.com/css2?family=Poppins&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=VT323&display=swap');

#estudando{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin-top: 30px;
}

#tittle{
    color: #f0f0f0f0;
    font-size: 50px;
    font-family: 'Lilita One', cursive;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#div-cards-estudando-par{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#div-cards-estudando-impar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 30px;
}

.imgs-estudando{
    width: 70px;
}

.cards-estudando{
    background-color: #f0f0f0f0;
    color: #0f0f0f;
    padding: 6px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 16px; 
    border-radius: 30px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 1080px){
    #estudando{
        margin-left: 60px;
    }

    #tittle{
        margin-bottom: 60px;
    }

    #div-cards-estudando-par{
        margin-left: 150px;
        margin-right: 150px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #div-cards-estudando-impar{
        margin-left: 150px;
        margin-right: 150px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .cards-estudando{
        margin-bottom: 10px;
    }
}