@import url('https://fonts.googleapis.com/css2?family=Poppins&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=VT323&display=swap');

#formacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin-top: 50px;
}

#tittle{
    color: #f0f0f0f0;
    font-size: 50px;
    font-family: 'Lilita One', cursive;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#div-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    background-color: #f0f0f0f0;
    color: #0f0f0f;
    padding: 6px;
    width: 500px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.imgs-formacao{
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 1080px){
    #formacao{
        margin-left: 50px;
    }

    #tittle{
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        width: 250px;
    }
}