@import url('https://fonts.googleapis.com/css2?family=Poppins&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-color: #0f0f0f;
}

#planta-de-cima{
    width: 30%;
    margin-bottom: 30px;
}

#planta-de-baixo{
    width: 30%;
    margin-top: 60px;
}

/*------ Barra de Rolagem ------*/

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #0f0f0f;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #f0f0f0f0;
    width: 10px;
}

/*------ Menu ------*/

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #ffffff;
    padding: 30px 0px 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.ul-menu{
    height: 100%;
    list-style-type: none;
    margin-top: 30px;
}

ul li.item-menu.expandir{
    background-color: #f0f0f0f0;
    transition: ease-in-out 0.5s;
}

ul li.ativo{
    border: solid 2px #BEADFA;
    background-color: #BEADFA;
    border-radius: 40px;
    margin-right: 5px;
}

ul li.item-menu a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 5%;

    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}

ul li.item-menu a .icon > i {
    font-size: 25px;
    padding: 0 8px;
}

/*------ Início ------*/

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
}

#div-sobre-mim{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 20vw;
}

#meu-card{
    background: #f0f0f0f0;
    border: 0;
    color: #0f0f0f;
    padding: 2vw 3vw;
    width: 270px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#meu-nome{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}


#minha-foto{
    width: 11vw;
    border-radius: 90%;
    box-shadow: 1px 1px 50px #B6BBC4;
}

.icones-inicio{
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

#entrar-em-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    width: 12vw;
    height: 7vh;
    padding: 5px;
    border-radius: 50px;
    font-size: 15px;
    border: 0;
    font-weight: bolder;
    margin-top: 10px;
}

#entrar-em-contato a{
    color: #f0f0f0f0;
    text-decoration: none;
}

#entrar-em-contato:hover{
    cursor: pointer;
    background: transparent;
    border: solid 2px #0f0f0f;
    color: #f0f0f0;
    transition: ease-in-out 0.5s;
}

#entrar-em-contato>a:hover{
    color: #0f0f0f;
}

#icones-inicio{
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#icones-inicio>a>img:hover{
    background-color: #BEADFA;
    transition: ease-in-out 0.5s;
    padding: 1px;
    border-radius: 20%;
}

#boas-vindas{
    color: #f0f0f0f0;
    font-size: 40px;
    font-family: 'Lilita One', cursive;
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    margin-top: 10vh;
}

#sobre-mim{
    padding: 5vh 2vw;
    color: #f0f0f0f0;
    text-align: center;
    font-size: 16px;
}

#apresentacao{
    color: #f0f0f0f0;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5vh;
}

@media (max-width: 1080px){

    .inicio{
        margin-left: 50px;
    }

    #boas-vindas{
        margin-top: 2vh;
        font-size: 30px;
        padding: 2vh 10vw;
    }
    
    #apresentacao{
        padding: 10px 50px;
    }

    #div-sobre-mim{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #meu-card{
        width: 50vw;
        padding: 2vh 10vw;
    }

    #meu-nome{
        font-size: 17px;
    }

    #minha-foto{
        width: 30vw;
    }

    #entrar-em-contato{
        width: 40vw;
        height: 5vh;
    }

    #sobre-mim{
        width: 70vw;
        text-align: center;
        font-size: 15px;
    }

    #planta-de-cima{
        width: 60%;
    }
    
    #planta-de-baixo{
        width: 50%;
    }

    nav.menu-lateral{
        width: 60px;
    }

    nav.menu-lateral:hover{
        width: 200px;
    }

    .ul-menu{
        height: 100%;
        margin-top: 50px;
    }

    ul li.item-menu a{
        padding: 6px 8%;
    }
}