@import url('https://fonts.googleapis.com/css2?family=Poppins&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #0f0f0f;
}

#planta-de-cima {
    width: 30%;
    margin-bottom: 30px;
}

#planta-de-baixo {
    width: 30%;
    margin-top: 60px;
}

/*------ Barra de Rolagem ------*/

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #0f0f0f;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 10px;
}

/*------ Menu ------*/

nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: transparent;
    padding: 45vh 0 20vh 1%;

    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}

.ul-menu {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a {
    color: #ffffff;
    background: #BC9787;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5vw;
    padding: 6px 5%;

    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 30px;
}

hr{
    width: 50%;
    margin: 0 25%;
    border: solid 1px #BC9787;
}

ul li.item-menu a:hover {
    background: transparent;
    transition: ease-in-out 0.5s;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon>i {
    font-size: 25px;
    padding: 0 8px;
}

/*------ Início ------*/

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
}

#div-sobre-mim {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 20vw;
}

#meu-card {
    background: #ffffff;
    border: 0;
    color: #0f0f0f;
    padding: 2vw 3vw;
    width: 270px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

color {
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 20px #ffffff93;
}

#meu-nome {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

#foto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#minha-foto {
    width: 25vw;
    /* text-shadow: 1px 1px 50px #B6BBC4; */
}

#entrar-em-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 12vw;
    height: 7vh;
    padding: 5px;
    font-size: 13px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 3px #BC9787;
    margin-top: 10px;
}

#entrar-em-contato a {
    color: #BC9787;
    text-decoration: none;
}

#entrar-em-contato:hover {
    cursor: pointer;
    background: #BC9787;
    transition: ease-in-out 0.5s;
}

#entrar-em-contato>a:hover {
    color: #ffffff;
    font-weight: normal;
}

#icones-inicio {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#icones-inicio>a {
    font-size: 25px;
    color: #ffffff;
    margin-right: 1vw;
}

#icones-inicio>a>i:hover {
    color: #176B87;
    transition: ease-in-out 0.2s;
    padding: 4px;
    border-radius: 50%;
}

#boas-vindas {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Lilita One', cursive;
    font-weight: 900;
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    margin-top: 10vh;
}

#sobre-mim {
    padding: 5vh 2vw;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

#apresentacao {
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5vh;
}

#about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 10vw;
}

#foto{
    margin-right: 5vw;
}

/* Formações - Projetos Visuais - Projetos Autônomos - Estudando */

.about-container .principal-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-container .principal-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.1);
}

.about-container .principal-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(255, 255, 255, 0.32);
}

.about-container .principal-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-container .principal-about .about-item .abt-text .large-text {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.about-container .principal-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: #d4d4d4;
    letter-spacing: 2px;
}

.about-container .principal-about .about-item .abt-text .small-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

.about-container .top-about{
    margin-bottom: 5vh;
}

.about-container .top-about p {
    text-align: center;
    color: #ffffff;
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}

.about-container .top-about h4{
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 0.5vh;
    font-weight: lighter;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}

.about-container .bottom-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-container .bottom-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.1);
}

.about-container .bottom-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(255, 255, 255, 0.32);
}

.about-container .bottom-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.about-container .bottom-about .about-item .abt-text .large-text {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.about-container .bottom-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #d4d4d4;
    letter-spacing: 2px;
}

.about-container .bottom-about .about-item .abt-text .small-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

.about-container .contactar-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-container .contactar-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.1);
}

.about-container .contactar-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(255, 255, 255, 0.32);
}

.about-container .contactar-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-container .contactar-about .about-item .abt-text .large-text {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.about-container .contactar-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #d4d4d4;
    letter-spacing: 2px;
}

.about-container .contactar-about .about-item .abt-text .small-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

.links-about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links-about .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.1);
}

.links-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(255, 255, 255, 0.32);
}

.links-about .about-item .abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.links-about .about-item .abt-text .large-text {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.links-about .about-item .abt-text .small-text {
    padding-left: 3rem;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #d4d4d4;
    letter-spacing: 2px;
}

.links-about .about-item .abt-text .small-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 2rem;
    height: 2px;
    background-color: var(--color-grey-5);
}

/* ===== Contactar ===== */


@media (max-width: 1080px) {

    .tudo {
        margin-left: 50px;
    }

    #boas-vindas {
        margin-top: 2vh;
        font-size: 30px;
        padding: 2vh 10vw;
    }

    #apresentacao {
        padding: 10px 50px;
    }

    #div-sobre-mim {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #meu-card {
        width: 50vw;
        padding: 2vh 10vw;
    }

    #meu-nome {
        font-size: 17px;
    }

    #minha-foto {
        width: 30vw;
    }

    #entrar-em-contato {
        width: 40vw;
        height: 5vh;
    }

    #sobre-mim {
        width: 70vw;
        text-align: center;
        font-size: 15px;
    }

    #planta-de-cima {
        width: 60%;
    }

    #planta-de-baixo {
        width: 50%;
    }

    nav.menu-lateral {
        width: 60px;
    }

    nav.menu-lateral:hover {
        width: 200px;
    }

    .ul-menu {
        height: 100%;
        margin-top: 50px;
    }

    ul li.item-menu a {
        padding: 6px 8%;
    }
}